<div class="card">
	<div class="card-body">
		<h5 class="titulo">
			{{ titulo | uppercase }}

			<div *ngIf="loading" class="spinner-border float-end" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</h5>
		<form [formGroup]="form" (ngSubmit)="saveCard()">
			<div class="input-group input-group-lg mb-3">
				<span class="input-group-text">
					<i
						class="fas fa-user-circle"
						[class.green-icon]="this.form.get('owner')?.valid"
						[class.red-icon]="
							this.form.get('owner')?.invalid &&
							this.form.get('owner')?.touched
						"
					></i>
				</span>
				<input
					class="form-control"
					formControlName="owner"
					placeholder="Owner"
				/>
			</div>
			<div class="input-group input-group-lg mb-3">
				<span class="input-group-text">
					<i
						class="fas fa-credit-card"
						[class.green-icon]="this.form.get('numberCard')?.valid"
						[class.red-icon]="
							this.form.get('numberCard')?.invalid &&
							this.form.get('numberCard')?.touched
						"
					></i>
				</span>
				<input
					class="form-control"
					placeholder="Number card"
					formControlName="cardNumber"
					maxLength="16"
				/>
			</div>
			<div class="row">
				<div class="col-lg-7">
					<div class="input-group input-group-lg mb-3">
						<span class="input-group-text">
							<i
								class="fas fa-calendar-alt"
								[class.green-icon]="
									this.form.get('dateOfExpire')?.valid
								"
								[class.red-icon]="
									this.form.get('dateOfExpire')?.invalid &&
									this.form.get('dateOfExpire')?.touched
								"
							></i>
						</span>
						<input
							class="form-control"
							formControlName="dateOfExpire"
							placeholder="MM/YY"
							maxLength="5"
						/>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="input-group input-group-lg mb-3">
						<span class="input-group-text">
							<i
								class="fas fa-key"
								[class.green-icon]="this.form.get('cvv')?.valid"
								[class.red-icon]="
									this.form.get('dateOfExpire')?.invalid &&
									this.form.get('dateOfExpire')?.touched
								"
							></i>
						</span>
						<input
							class="form-control"
							formControlName="cvv"
							type="password"
							placeholder="CVV"
							maxLength="3"
						/>
					</div>
				</div>
			</div>

			<div class="d-grid gap-2">
				<button
					[disabled]="form.invalid"
					class="btn btn-success btn-lg"
					type="submit"
				>
					<i class="fas fa-database"></i>&nbsp;Accept
				</button>
			</div>
		</form>
	</div>
</div>
